/* Space background */
.space-bg {
  position: fixed;
  inset: 0;
  background:black;
  z-index: 0;
}

/* Star container */
.star-field {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

/* Individual star */
.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  opacity: 0.3;
  animation: 0.8s blink infinite alternate ease-in-out;
}

/*@keyframes blink {
  from { opacity: 0.1; }
  to   { opacity: 1; }
}*/

@keyframes blink {
  0%, 100% { opacity: 0.2; }
  50% { opacity: 1; }
}

/*nebulae bg */
.nebula {
  position:absolute;
  width:1200px;
  height:1200px;
  border-radius: 50%;
  filter:blur(120px);
  opacity:0.35;
  z-index: 1;
  animation: floatNebula 40s infinite alternate ease-in-out;

  
  background: radial-gradient(circle at 20% 30%, rgba(255, 0, 150, 0.3), transparent 40%),
              radial-gradient(circle at 80% 70%, rgba(0, 200, 255, 0.3), transparent 40%),
              radial-gradient(circle at 50% 50%, rgba(150, 0, 255, 0.2), transparent 50%);
}

/*.light #nebula {
  background: radial-gradient(circle at 20% 30%, rgba(255, 0, 150, 0.1), transparent 40%),
              radial-gradient(circle at 80% 70%, rgba(0, 200, 255, 0.1), transparent 40%),
              radial-gradient(circle at 50% 50%, rgba(150, 0, 255, 0.1), transparent 50%);
}*/

.nebula-1{
  background:radial-gradient(circle at 30% 40%, #7005ae, transparent 70%);
  top:-20%;
  left:-20%;
}
.nebula-2{
  background:radial-gradient(circle,#91047b, transparent 70%);
  bottom:-30%;
  right:-20%;
  animation-duration:10s;
}

.nebula-3{
  background:radial-gradient(circle,#024f82,transparent 70%);
  top: 30%;
  left: 40%;
  animation-duration: 10s;

}

@keyframes floatNebula{
  from{
    transform: translate(0,0) scale(1);
  }
  to{
    transform: translate(150px,-120px) scale(1.15);
  }
}

